body {
	
	color: black;
	font-family: Verdana, Arial;
	font-weight: normal;
	background-color: lightblue;
	font-size: 15px;
	background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #167BEF 100%);
	margin-top:0;
	margin-left:0;
	margin-right:0;

}

h1 {

	text-decoration: underline;
	font-size: 150%;
	text-align: center;

}

h2 {

	text-decoration: underline;
	font-size: 125%;
	text-align:center;

}



#imagec {

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	border: black medium solid;
	background-color:silver;
	border-style: ridge;
	height: 230px;
	width: 230px;


}


#csTeam{

	display: block;
	margin-right: 5px;
	margin-left: 10px;
	padding: 3px;
	float: right;
	border: black medium solid;
	background-color:silver;
	border-style: ridge;
	height: 30%;
	width: 30%;
	position: relative;

}

#csSystems{

	display: block;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 13px;
	padding: 3px;
	float: right;
	border: black medium solid;
	background-color:silver;
	border-style: ridge;
	height: 10%;
	width: 50%;
	position: relative;

}

#picLeft{

	display: block;
	margin-right: 5px;
	margin-left: 0px;
	margin-top: 13px;
	padding: 3px;
	float: left;
	border: black medium solid;
	background-color:silver;
	border-style: ridge;
	height: 350px;
	width: 50%;
	position: relative;

}


#cave{

	display: block;
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 13px;
	padding: 3px;
	float: right;
	border: black medium solid;
	background-color:silver;
	border-style: ridge;
	height: 30%;
	width: 30%;
	position: relative;

}


#TestCase{

	display: block;
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 13px;
	padding: 3px;
	float: right;
	border: black medium solid;
	background-color:silver;
	border-style: ridge;
	height: 40%;
	width: 40%;
	position: relative;

}


#schema{

	display: block;
	margin-right: 5px;
	margin-left: 0px;
	margin-top: 13px;
	padding: 3px;
	float: right;
	border: black medium solid;
	background-color:silver;
	border-style: ridge;
	height: 10%;
	width: 45%;
	position: relative;

}

.pdfList{


width: 500px;


}

p.paragraph {


	line-height: 150%;
	position: relative;
	width: 1275px;


}

.paragraph em {

	text-decoration: underline;
	font-size: 125%;
	text-align: left;
	font-weight: bold;
	font-family: Verdana;
	width: 1275px;

}





.important{

	color: red;
	font-weight: bold;

}

.pdf{
	
	display: block;
	padding: 5px;
	margin-right: 5px;
	margin-left: 15px;
	float: right;
	margin-bottom: 15px;
}

.boldText{

	font-weight: bold;

}


.paraDiv{

	background-color: white;
	padding: 20px;
	border: black medium solid;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	-webkit-box-shadow: 7px 11px 19px 3px rgba(0,0,0,1);
	-moz-box-shadow: 7px 11px 19px 3px rgba(0,0,0,1);
	box-shadow: 7px 11px 19px 3px rgba(0,0,0,1);
	margin-left:4px;
	margin-right:6px;
	overflow: hidden;

}



a:link {

	color: red;

}

a:visited {

	color: gray;

}

a:hover{

	color: blue;
	cursor: spinning;

}

#nav{

	position: relative;
	background-color: gray;
	height: 40px;
	font-size : 25px;
	font-weight: bold;
	font: Verdana;
	background-image: -webkit-radial-gradient(bottom, ellipse farthest-side, gray 10%, #FFFFFF 100%);
}


#nav ul {
	
	position: relative;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;

}


#nav li{

	position: relative;
	display: inline;
	padding: 15px;
	vertical-align:middle;

}

#nav a {

	position: relative;
	font-size: 75%;
	text-decoration: none;
	padding: 9px 8px 8px 8px;
	color:black;

}

#nav a:hover {

	color: black;
	background-color: white;
	background-image: -webkit-radial-gradient(top, ellipse farthest-side, #FFFFFF 0%, silver 100%);

}


li {

	margin-bottom: 4px;
	position: relative;
}


.video-container {
	position:relative;
	padding-bottom:27%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-bottom: 5px;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}